{% extends "index.html" %}

{% block content %}

<!--https://www.codeply.com/go/nhbdi2FkJm-->


<div class="col-md-6 mx-auto">

    <!-- form card login -->
    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">

            <form class="form" method="POST">
                {{ form.hidden_tag() }}


            <div class="form-group">
                {{ form.feature_name.label }}
                {{ form.feature_name(class_="form-control") }}

                {% if form.feature_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.feature_name.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.feature_size.label }}
                {{ form.feature_size(class_="form-control") }}

                {% if form.feature_size.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.feature_size.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.formtype.label }}
                {{ form.formtype(class_="form-control") }}

                {% if form.formtype.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.formtype.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.user_id.label }}
                {{ form.user_id(class_="form-control") }}

                {% if form.user_id.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.user_id.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->

</div>

</div>



{% endblock %}