{% extends "index.html" %}

{% block content %}
    <h3 class="mb-0">Warning!</h3>
    <h3 class="mb-0">Removing this object entails deleting the objects associated with it</h3>
    <div style="
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        width: 22%;"
    >
        <a href="/new_remedy" type="button" class="btn btn-warning">Add remedy</a>
        <a href="/new_remedy" type="button" class="btn btn-warning">Add remedy</a>
    </div>
{% endblock %}