{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">color</th>
                <th scope="col">intensity</th>
                <th scope="col">feature id</th>
            </tr>
        </thead>
        <tbody>
        {% for remedy in remedys %}
            <tr >
                <td> {{remedy.remedy_id}} </td>
                <td> {{remedy.remedy_name}} </td>
                <td> {{remedy.remedy_color}} </td>
                <td> {{remedy.remedy_brightness}} </td>
                <td> {{remedy.feature_id}} </td>
                <td>
                    <a href="/edit_remedy/{{remedy.remedy_id}}" type="button" class="btn btn-warning" data-person_login="{{remedy.remedy_id}}">Edit</a>
                    <a href="/delete_remedy/{{remedy.remedy_id}}" type="button" class="btn btn-warning" data-person_login="{{remedy.remedy_id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
 </div>

{% endblock %}